<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head >
	<f:facet name="first">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</f:facet>
	

	<title>#{msg.acesso_negado}</title>
	
	<h:outputStylesheet library="css" name="erro.css" />
	<h:outputStylesheet library="css" name="bootstrap.css" />
</h:head>
<h:body>
	<div class="container">
   		<div class="row">
        	<div class="col-md-12">
               <h1>#{msg.acesso_negado_h1}</h1>    
                
               <h2>
                   #{msg.acesso_negado_h2}
               </h2>
               <div class="error-actions">
	               	<h:link styleClass="btn btn-primary btn-lg" outcome="/Login">
	               		<span class="glyphicon glyphicon-home"></span>
	               		#{msg.button_pagina_inicial}
	               	</h:link>
                   <!-- <a href="http://www.jquery2dotnet.com" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a> -->
               </div>
	        </div>
	    </div>
	</div>
</h:body>
</html>