<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>#{msg.esqueci_minha_senha}</title>
	<link rel="icon" type="image/png" href="#{request.contextPath}/resources/images/agroicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="#{request.contextPath}/resources/images/agroicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="#{request.contextPath}/resources/images/agroicon-16x16.png" sizes="96x96" />
	
	<h:outputStylesheet library="css" name="login.css" />
	<h:outputStylesheet library="css" name="bootstrap.css" />

	<h:outputStylesheet library="css" name="custom.css" />
	<h:outputStylesheet library="css" name="components.css" />
</h:head>

<h:body>
		<p:button outcome="/Login" value="#{msg.button_pagina_inicial}" styleClass="button-back-index"  icon="fa fa-home"/>

		<!-- Content Wrapper. Contains page content -->
		<div class="content">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h:form class="form-signin">
					<h1>
						<ui:insert name="titulo">#{msg.esqueci_minha_senha}</ui:insert>
					</h1>
					
					<hr/>
					<div class="ui-fluid">
						<div class="ui-fluid">
							<p:focus/>
							
							<p:messages id="messages" autoUpdate="true" closable="true"/>
					
							<p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-2, ui-grid-col-10">
								<p:outputLabel value="#{msg.esqueci_minha_senha_email}" for="email"/>
								<p:inputText id="email" value="#{esqueciMinhaSenhaBean.email}" placeholder="#{msg.esqueci_minha_senha_email_placeholder}" title="#{msg.esqueci_minha_senha_email_title}" required="true" requiredMessage="#{msg.esqueci_minha_senha_email_required}" maxlength="255">
									<f:validator validatorId="emailValidator" />
								</p:inputText>
							</p:panelGrid>
						</div>
					</div>
					<div style="padding: 10px;">
						<p:commandButton id="salvar" action="#{esqueciMinhaSenhaBean.enviarEmail()}" value="#{msg.button_enviar_email}" ajax="false" style="float: right;"/>
					</div>
					
					<p:defaultCommand target="salvar" />
				</h:form>
			</section>
		</div>
	</h:body>		
</html>