<!DOCTYPE xhtml>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<h:head>
	<title>#{msg.login}</title>
	<link rel="icon" type="image/png" href="#{request.contextPath}/resources/images/agroicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="#{request.contextPath}/resources/images/agroicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="#{request.contextPath}/resources/images/agroicon-16x16.png" sizes="96x96" />

	<h:outputStylesheet library="css" name="sistema.css" />
</h:head>
<h:body>
    	<f:metadata>
	 		<f:viewParam name="dummy" />
	 		<f:event listener="#{loginBean.preRender(SPRING_SECURITY_LAST_EXCEPTION.message)}" type="preRenderView" />
    	</f:metadata>
    	<!-- <p:button styleClass="button-back-index" outcome="/Index.xhtml" value="#{msg.button_pagina_inicial}" icon="fa fa-home"/> -->

		<div id="login-dialog">
    		<h1>#{msg.login_h1}</h1>
    		
    		<h:form id="frm" prependId="false">
   				<p:focus />
    			<p:messages id="messages" autoUpdate="true" closable="true" />
    		
    			<h:panelGrid columns="2" styleClass="grid-login">
    				<p:outputLabel value="#{msg.login_email}" for="username" />
    				<p:inputText size="30" id="username" value="#{loginBean.email}" required="true" maxlength="255"/>
    				
    				<p:outputLabel value="#{msg.login_senha}" for="username" />
    				<p:password size="30" id="password" required="true" maxlength="255"/>
    				
    				<p:outputLabel />
    				<p:column>
    					<p:commandButton value="#{msg.button_entrar}" action="#{loginBean.login}" ajax="false" />
    					<h:link id="esqueci-minha-senha" outcome="/EsqueciMinhaSenha" value="#{msg.login_esqueci_minha_senha}" style="float: right"/>
   					</p:column>
    			</h:panelGrid>
    		</h:form>
    	</div>
    </h:body>
</html>