<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>#{msg.recuperar_senha}</title>
	<link rel="icon" type="image/png" href="#{request.contextPath}/resources/images/agroicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="#{request.contextPath}/resources/images/agroicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="#{request.contextPath}/resources/images/agroicon-16x16.png" sizes="96x96" />

	<h:outputStylesheet library="css" name="login.css" />
	<h:outputStylesheet library="css" name="bootstrap.css" />

	<h:outputStylesheet library="css" name="custom.css" />
	<h:outputStylesheet library="css" name="components.css" />
</h:head>

<h:body>
		<p:button outcome="/Login" value="#{msg.button_pagina_inicial}" styleClass="button-back-index"  icon="fa fa-home"/>
		
		<!-- Content Wrapper. Contains page content -->
		<div class="content">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h:form rendered="#{recuperarSenhaBean.render}" class="form-signin">
					<h1>
						<ui:insert name="titulo">#{msg.recuperar_senha}</ui:insert>
					</h1>
					
					<hr/>
					
					<div class="ui-fluid">
						<div class="ui-fluid">
							<p:focus/>
							
							<p:messages id="messages" autoUpdate="true" />
							
							<h:inputHidden value="#{recuperarSenhaBean.chave}" />
							
							<p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-4, ui-grid-col-8">
								<p:outputLabel value="#{msg.recuperar_senha_senha}" for="senha"/>
								<p:password id="senha" value="#{recuperarSenhaBean.senha}" required="true" 
								  placeholder="#{msg.recuperar_senha_senha_placeholder}" match="confirmaSenha" validatorMessage="#{msg.recuperar_senha_confirma_senha_validator_message}"  
								  title="#{msg.recuperar_senha_senha_title}" requiredMessage="#{msg.recuperar_senha_senha_required}" maxlength="255"/>
								
								<p:outputLabel value="#{msg.recuperar_senha_confirma_senha}" for="confirmaSenha"/>
								<p:password id="confirmaSenha" value="#{recuperarSenhaBean.senha}" required="true" 
								  placeholder="#{msg.recuperar_senha_confirma_senha_placeholder}"
								  title="#{msg.recuperar_senha_confirma_senha_title}" requiredMessage="#{msg.recuperar_senha_confirma_senha_required}" maxlength="255"/>
							</p:panelGrid>
						</div>
					</div>
					<div style="padding: 10px;">
						<p:commandButton id="salvar" action="#{recuperarSenhaBean.salvar()}" value="#{msg.button_salvar}" ajax="false" style="float: right"/>
					</div>
					
					<p:defaultCommand target="salvar" />
				</h:form>
				
				<h:form rendered="#{!recuperarSenhaBean.render}" styleClass="form-signin">
					<h:panelGroup rendered="#{!recuperarSenhaBean.render}" styleClass="form-signin">
						<h1>#{msg.recuperar_senha_codigo_invalido}</h1>
					</h:panelGroup>		
				</h:form>
			</section>
		</div>
	</h:body>		
</html>