.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
.container {
	width: 100%!important;
	position: absolute;
	text-align: center;
	top: calc(50% - 130px);
}

@media (max-height: 260px) {
	.container {
	    top: 0;
	}
}