/* TOPBAR */
.aw-topbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	min-height: 50px;
	
	background-color: #006c3a;
	z-index: 2;
}

.aw-topbar > a> img {
	margin-left: 3px;
	height: 50px;
	float: left;
}

.aw-topbar .ui-outputlabel {
	font-weight: bold;
	padding-right: 5px;
	color: white;
}

/* SIDEBAR */
.aw-sidebar {
	position: fixed;
	top: 50px;
	bottom: 0;
	left: 0;
	width: 225px;
	margin-left: -226px;
	z-index: 2;
	transition: margin-left 0.5s;
	overflow-y: auto;
	
	background-color: #f6f6f6;
	border-right: 1px solid #eaeaea;
}

.aw-sidebar.is-toggled {
	margin-left: 0px;
}

@media (min-width: 960px) {
	.aw-sidebar {
		margin-left: 0px;
	}
	
	.aw-sidebar.is-toggled {
		margin-left: -226px;
	}
}

/* Loading */
.ajax-status {
	position: fixed;
	right: 2%;
	padding-top: 5px;
	width: 35px;
	height: 35px;
	float: left;
}

/* CONTENT */
.aw-content {
	padding: 40px 15px;
	margin-top: 50px;
	transition: margin-left 0.5s;
}

@media (min-width: 960px) {
	.aw-content {
		margin-left: 225px;
	}
	
	.aw-content.is-toggled {
		margin-left: 0;
	}
}

.aw-content-sem-menu {
	padding: 0 15px;
	margin-top: 50px;
}

/* MENU SUPERIOR */
#frmMenu {
	padding: 10px;
}