.sidebar-nav {
  background-image: linear-gradient(to right, #006c3a 3px, #f3f3f3 3px);
  background-repeat: repeat-x;
  font-size: 1.0em;
}

.sidebar-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav a, .sidebar-nav a:hover, .sidebar-nav a:focus, .sidebar-nav a:active {
  outline: none;
}

.sidebar-nav .is-selected, .sidebar-nav a:hover, .sidebar-nav a:focus, .sidebar-nav a:active {
  background-image: linear-gradient(to right, #006c3a 6px, #dfdfdf 3px);
  background-repeat: repeat-x;
}

.sidebar-nav ul li, .sidebar-nav ul a {
  display: block;
}
.sidebar-nav ul a {
  padding: 10px 20px;
  color: #373737;
  text-decoration: none;
}

.sidebar-nav ul ul a {
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-nav ul ul a:hover, .sidebar-nav ul ul a:focus, .sidebar-nav ul ul a:active {
  background-image: linear-gradient(to right, #006c3a 6px, #dfdfdf 3px);
  background-repeat: repeat-x;
}

.sidebar-nav ul ul ul a {
  padding: 10px 40px;
}

.sidebar-nav-item {
  padding-left: 5px;
}
.sidebar-nav-item-icon {
  padding-right: 5px;
}
#rtlh3 small {
    transform: rotateY(180deg);
    display: inline-block;
}