<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<h:head >
	<f:facet name="first">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</f:facet>

	<title>Sistema</title>
	<link rel="icon" type="image/png" href="#{request.contextPath}/resources/images/agroicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="#{request.contextPath}/resources/images/agroicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="#{request.contextPath}/resources/images/agroicon-16x16.png" sizes="96x96" />
	
	<h:outputStylesheet library="css" name="custom.css" />
	<h:outputStylesheet library="css" name="layout.css" />
	<h:outputStylesheet library="css" name="components.css" />
	<h:outputStylesheet library="css" name="login.css"/>
	<h:outputStylesheet library="css" name="menu.css"/>
	<h:outputStylesheet library="css" name="metisMenu.min.css"/>
</h:head>

<h:body>

	<header class="aw-topbar">
		<h:link outcome="/restrito/administrador/Dashboard">
			<h:graphicImage library="images" name="logo_beta.png"/>
		</h:link>
	</header>
	
	<p:ajaxStatus styleClass="ajax-status">
		<f:facet name="start">
			<p:graphicImage library="images" name="loading.gif"/>
		</f:facet>
		<f:facet name="complete">
			<h:outputText value=""/>
		</f:facet>
	</p:ajaxStatus>
	
	<p:outputPanel id="aside">
	<aside class="aw-sidebar js-sidebar">
		<nav class="sidebar-nav">
			<ul class="metismenu" id="menu">
				<li>
					<h:link outcome="/restrito/administrador/Dashboard" >
 						<f:passThroughAttribute name="aria-expanded" value="true"/>
 						<i class="fa  fa-fw  fa-home"></i>#{msg.menu_index}
 					</h:link>
				</li>
			</ul>
		</nav>
	</aside>
	</p:outputPanel>
	
	<p:outputPanel id="section">
	<section class="aw-content  js-content" >
		<ui:insert name="content" />
	</section>
	</p:outputPanel>
	
    <script>
      $(function () {
         $('#menu').metisMenu({
              toggle: false
          });
      });
    </script>
    
    <p:outputPanel autoUpdate="true" id="scripts">
	    <!-- Menu Vertical -->
		<h:outputScript library="js" name="custon.js"/>
		<h:outputScript library="js" name="metisMenu.min.js"/>
		
		<h:outputScript target="body" library="primefaces" name="jquery/jquery.js" />
		<h:outputScript target="body" library="js" name="app.js" />
	</p:outputPanel>
</h:body>

</html>